{% extends "base/base.html" %}

{% block title %} Season Stats {% endblock %}

{% block content %}

    <h1>Season Stats</h1><br>
    
    <table style="width: 100%">
        <tr style="text-align: center;">
            <td><a href="/season/season/2021" class="btn btn-info">20/21</a></td>
            <td><a href="/season/season/2122" class="btn btn-info">21/22</a></td>
            <td><a href="/season/season/2223" class="btn btn-info">22/23</a></td>
            <td><a href="/season/season/2324" class="btn btn-info">23/24</a></td>
        </tr>
    </table>

    <img src="data:image/png;base64,{{ data[0] }}" width="300" height="200" style="position: absolute; left: 60px; top: 250px;">
    <img src="data:image/png;base64,{{ data[1] }}" width="300" height="200" style="position: absolute; left: 500px; top: 250px;">
    <img src="data:image/png;base64,{{ data[2] }}" width="300" height="200" style="position: absolute; left: 940px; top: 250px;">
    <img src="data:image/png;base64,{{ data[3] }}" width="300" height="200" style="position: absolute; left: 60px; top: 550px;">
    <img src="data:image/png;base64,{{ data[4] }}" width="300" height="200" style="position: absolute; left: 500px; top: 550px;">
    <img src="data:image/png;base64,{{ data[5] }}" width="300" height="200" style="position: absolute; left: 940px; top: 550px;">
    <img src="data:image/png;base64,{{ data[6] }}" width="300" height="200" style="position: absolute; left: 60px; top: 850px;">
    <img src="data:image/png;base64,{{ data[7] }}" width="300" height="200" style="position: absolute; left: 500px; top: 850px;">
    <img src="data:image/png;base64,{{ data[8] }}" width="300" height="200" style="position: absolute; left: 940px; top: 850px;">
{% endblock %}