{% extends "base/base.html" %}

{% block title %} Season Stats {% endblock %}

{% block content %}

    <h1>Season Stats</h1><br>
    
    <table style="width: 100%">
        <tr style="text-align: center;">
            <td><a href="/season/season/2021" class="btn btn-info">20/21</a></td>
            <td><a href="/season/season/2122" class="btn btn-info">21/22</a></td>
            <td><a href="/season/season/2223" class="btn btn-info">22/23</a></td>
            <td><a href="/season/season/2324" class="btn btn-info">23/24</a></td>
        </tr>
    </table>


{% endblock %}