{% extends "base/base.html" %}

{% block title %} Search Matches {% endblock %}

{% block content %}

    <h1>Search Matches</h1><br>

    <form>
        <div class="inline-input">
            <input type="search" name="query" id="query" class="form-control" 
                placeholder="Search by opposition team..." {% if query %} value="{{ query }}" {% endif %}>
            <input type="submit" class="btn btn-outline-success" value="Search">
        </div>
    </form>

    <br><hr><br>
    {{ frame.size }}

    <table class="table table-bordered">
        <thead class="table-dark">
            <th>Opponent</th>
            <th>Season</th>
            <th>Location</th>
            <th>Result</th>
        </thead>
        <tbody>
            {% for i in indices %}
                    <tr onclick="window.location.href = `/results/match/{{ frame['match_id'][i] }}`">
                        <td>{{ frame["opposition_team"][i] }}</td>
                        <td>{{ frame["season_name"][i] }}</td>
                        <td>
                            {% if frame["location"][i] == "A" %}
                                Away
                            {% else %}
                                Home
                            {% endif %}
                        </td>
                        <td>
                            {% if frame["match_outcome"][i] == "L" %}
                                Loss
                            {% elif frame["match_outcome"][i] == "W" %}
                                Win
                            {% else %}
                                Draw
                            {% endif %}
                        </td>
                    </tr>
            {% else %}
                <td>No search results.</td>
                <td></td>
                <td></td>
                <td></td>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}