{% extends "base/base.html" %}

{% block title %} Search Matches {% endblock %}

{% block content %}

    <h1>Search Matches</h1><br>

    <form>
        <div class="inline-input">
            <input type="search" name="query" id="query" class="form-control" required 
                placeholder="Search by opposition team..." {% if query %} value="{{ query }}" {% endif %}>
            <input type="submit" class="btn btn-outline-success" value="Search">
        </div>
    </form>

    <br><hr><br>

    <table class="table table-bordered">
        <thead class="table-dark">
            <th>Opponent</th>
            <th>Season</th>
            <th>Location</th>
            <th>Result</th>
        </thead>
        <tbody>
            {% for i in indices %}
                <tr>
                    <td>{{ frame["opposition_team"][i] }}</td>
                    <td>WIP</td>
                    <td>WIP</td>
                    <td>WIP</td>
                </tr>
            {% else %}
                <td>WIP</td>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}