nav {
    text-align: center;
    background-color: #79d6fb;
    padding: 10px;
}

nav > ul > li {
    display: inline;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 0px 10px;
}

nav > ul > li:hover {
    background-color: rgb(172, 231, 238);
}

nav > ul > li > a {
    color: black;
    font-weight: bold;
    text-decoration: initial;
}