.title-info {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}


.stat-box-content {
    border: 1px solid black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 97.7%;
    height: 350px;
    overflow: scroll;
}

.stat-box-menu > a {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 19.3%;
    display: inline-block;
    text-align: center;
    margin: 0px;
    color: initial;
    text-decoration: inherit;
}

.stat-box-menu > a:hover {
    color: initial;
    text-decoration: inherit;
}

.stat-box-menu .active {
    border: 2px solid black;
    font-style: italic;
}

.left-percent {
    float: left;
    bottom: 50%;
    position: relative;
    margin-left: 20px;
}

.right-percent {
    float: right;
    bottom: 50%;
    position: relative;
    margin-right: 20px;
}

.box {
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.lineup-table {
    text-align: center; 
    width: 50%;
}

.lineup-table td { 
    padding: 20px 0px;
}